<!doctype html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="favicon.ico?v1">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <!--<link rel="stylesheet" href="//cdn.skyslope.com/theme/css/pages.css"/>-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://unpkg.com/recharts/umd/Recharts.min.js"></script>

</head>
<body class="" style="height: 100%">
<div id="root" class="page-container"></div>
<!--<script src="//cdn.skyslope.com/theme/js/pages.js"></script>-->
</body>
</html>
